################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeeApp/BeeApp/src/app/app.component.js
/BeeApp/BeeApp/src/app/app.component.js.map
/BeeApp/BeeApp/src/app/app.module.js
/BeeApp/BeeApp/src/app/app.module.js.map
/BeeApp/BeeApp/src/app/main.js
/BeeApp/BeeApp/src/app/main.js.map
/BeeApp/BeeApp/src/pages/hives/hives.js.map
/BeeApp/BeeApp/src/pages/hives/hives.js
/BeeApp/BeeApp/src/pages/hives
/BeeApp/BeeApp/src/pages/hive-inner/hive-inner.js.map
/BeeApp/BeeApp/src/pages/hive-inner/hive-inner.js
/BeeApp/BeeApp/src/pages/hive-inner
/BeeApp/BeeApp/src/pages/hive-create/hive-create.js.map
/BeeApp/BeeApp/src/pages/hive-create/hive-create.js
/BeeApp/BeeApp/src/pages/hive-create
/BeeApp/BeeApp/src/pages/harvest-inner/harvest-inner.js.map
/BeeApp/BeeApp/src/pages/harvest-inner/harvest-inner.js
/BeeApp/BeeApp/src/pages/harvest-inner
/BeeApp/BeeApp/src/pages/harvest-create/harvest-create.js.map
/BeeApp/BeeApp/src/pages/harvest-create/harvest-create.js
/BeeApp/BeeApp/src/pages/harvest-create
/BeeApp/BeeApp/src/pages/harvest/harvest.js.map
/BeeApp/BeeApp/src/pages/harvest/harvest.js
/BeeApp/BeeApp/src/pages/feeding-inner/feeding-inner.js.map
/BeeApp/BeeApp/src/pages/feeding-inner/feeding-inner.js
/BeeApp/BeeApp/src/pages/feeding-inner
/BeeApp/BeeApp/src/pages/feeding-create/feeding-create.js.map
/BeeApp/BeeApp/src/pages/feeding-create/feeding-create.js
/BeeApp/BeeApp/src/pages/feeding-create
/BeeApp/BeeApp/src/pages/feeding/feeding.js.map
/BeeApp/BeeApp/src/pages/feeding/feeding.js
/BeeApp/BeeApp/src/pages/feeding
/BeeApp/BeeApp/src/pages/apiary-inner/apiary-inner.js.map
/BeeApp/BeeApp/src/pages/apiary-inner/apiary-inner.js
/BeeApp/BeeApp/src/pages/apiary-create/apiary-create.js.map
/BeeApp/BeeApp/src/pages/apiary-create/apiary-create.js
/BeeApp/BeeApp/src/pages/apiary-create
/BeeApp/BeeApp/src/pages/apiaries/apiaries.js.map
/BeeApp/BeeApp/src/pages/apiaries/apiaries.js
/BeeApp/BeeApp/src/pages/apiaries
/BeeApp/BeeApp/src/pages/home/home.js
/BeeApp/BeeApp/src/pages/home/home.js.map
/BeeApp/BeeApp/src/pages/inspect-inner/inspect-inner.js.map
/BeeApp/BeeApp/src/pages/inspect-inner/inspect-inner.js
/BeeApp/BeeApp/src/pages/inspect-inner
/BeeApp/BeeApp/src/pages/inspect-create/inspect-create.js.map
/BeeApp/BeeApp/src/pages/inspect-create/inspect-create.js
/BeeApp/BeeApp/src/pages/inspect-create
/BeeApp/BeeApp/src/pages/login/login.js.map
/BeeApp/BeeApp/src/pages/login/login.js
/BeeApp/BeeApp/src/pages/queen
/BeeApp/BeeApp/src/pages/register/register.js
/BeeApp/BeeApp/src/pages/register/register.js.map
/BeeApp/BeeApp/src/pages/stats/stats.js
/BeeApp/BeeApp/src/pages/stats/stats.js.map
/BeeApp/BeeApp/src/pages/tabs/tabs.js
/BeeApp/BeeApp/src/pages/tabs/tabs.js.map
/BeeApp/BeeApp/src/pages/treatment-inner
/BeeApp/BeeApp/src/pages/treatment-create/treatment-create.js.map
/BeeApp/BeeApp/src/pages/treatment-create/treatment-create.js
/BeeApp/BeeApp/src/pages/treatment-create
/BeeApp/BeeApp/src/pages/treatment/treatment.js.map
/BeeApp/BeeApp/src/pages/treatment/treatment.js
/BeeApp/BeeApp/src/pages/treatment
/BeeApp/BeeApp/bld/Android/Debug/TypeScriptCompilerOutput.txt
